
#logo {
  height: 100;
}

#tabela-commits img {
  height: 60;
  width: 60;
}



.label-atualizacao {
  margin: 20 0;
  display: inline-block;
}

.loading {
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
  border: 2px solid steelblue;
}

  .loading img {
    height: 30px;
  }

  .loading span {
    color: steelblue;
  }

.avatar {
  border-radius: 5px;
}
